extends layout

block banner
 #title
  h1 AhKneeMay!
  h2 Remembers your watched Animes

block contentinfo
 noscript Warning: javascript is disabled or unavailable in your browser.
 //-if(totalAnimes)
  //-h2 Watched Animes: #{totalAnimes}

block main
 #contents
  include ./contents/index.jade
