extends layout

block banner
 #title
  h1 AhKneeMay!
  h2 Remembers your watched Animes

block contentinfo
 noscript: p.warning Warning: javascript is disabled or unavailable in your browser.

block main
 #contents.start
