doctype html
html(lang="en")
 head

  title #{title}

  meta(charset="utf-8")
  meta(name="author" content="Raoul van Rueschen")
  meta(name="description" content="#{description}")
  meta(name="robots" content="index, follow")

  link(rel="stylesheet" href="../css/main.css")

  block stylesheets

  script(src="../js/libs/general.min.js")
  script(src="../js/libs/history.min.js")
  script(src="../js/classes/smoothmovement.js")
  script(src="../js/modules/quickinfo.js")
  script(src="../js/modules/move.js")
  script(src="../js/modules/stay.js")

  block scripts

 body

  // Banner
  div(role="banner" id="banner")
   block banner

  // Primary Contents
  div(role="main" id="main")
   block main

  // Aside
  div(role="complementary" id="complementary")
   block complementary
    ul#navigation
     include ./contents/navigation.jade

  // Footer
  div(role="contentinfo" id="contentinfo")
   block contentinfo
    h1#smallTitle AhKneeMay!
    noscript Warning: javascript is disabled or unavailable in your browser.
    //-if(totalAnimes)
     //-h2 Watched Animes: #{totalAnimes}
