/**
 * The main stylesheet.
 *
 * Table of Contents:
 * 
 * 01. Fonts
 * 02. Basics
 * 03. Canvas
 * 04. Tables
 * 05. Anchors and Navigation
 * 06. Page Structure
 * 07. Forms and Input
 * 08. Special Forms
 * 09. Anime Gallery
 *
 * @author Raoul van Rueschen
 * @version 1.0.0, 15.12.2014
 */

/**
 * 01. Fonts
 */

@font-face {
 font-family: Walkway;
 src: url("./fonts/walkway.eot");
 src: local("☺"),
      url("./fonts/walkway.woff") format("woff"),
      url("./fonts/walkway.otf") format("opentype"),
      url("./fonts/walkway.svg#Walkway") format("svg"),
      url("./fonts/walkway.ttf") format("truetype");
}

/**
 * 02. Basics
 */

html {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

body {
 font-family: Walkway, Sans-Serif;
 font-size: 4vmin;
 color: rgb(160, 160, 160);
 background-color: rgb(40, 40, 40);
 background-image: url("../img/wood2.png");
 background-repeat: repeat;
 background-position: top left;
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: left;
 width: 100%;
 height: 100%;
 cursor: auto;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: normal;
 font-size: 6vmin;
 text-align: left;
 margin: auto;
 padding: 0;
 padding-bottom: 2vh;
}

h2 {
 font-size: 5vmin;
}

h3 {
 font-size: 4vmin;
}

p {
 text-align: left;
 margin: auto;
 padding: 0;
}

ul, ol {
}

li {
}

img {
 border: none;
 outline: none;
 margin: 0;
 padding: 0;
}

/**
 * 03. Canvas
 */

canvas {
}

/**
 * 04. Tables
 */

table {
 border-collapse: separate;
 border-spacing: 6px 8px;
 padding: 0;
 border: none;
 margin: auto;
 width: 100%;
}

tr {
}

th, td {
 font-size: 3.8vmin;
 text-align: left;
 vertical-align: middle;
 border-radius: 8px;
 padding: 6px;
}

th {
 font-weight: bold;
}

td span {
 display: inline-block;
 padding: 0 1vw;
 margin-right: 1vw;
 border-radius: 8px;
}

/**
 * 05. Anchors and Navigation
 */

a {
 color: inherit;
 text-decoration: none;
 transition: color 0.5s;
}

a:visited {
 color: inherit;
}

a:hover,
a:active {
 color: rgb(255, 255, 255);
}

#navigation {
 display: inline-block;
 margin: auto;
 padding: 0 5vmin 0 5vmin;
 vertical-align: top;
 font-size: 0;
}

#navigation li {
 list-style: none;
 display: inline-block;
}

#navigation a {
 display: block;
 margin: auto;
 padding: 0 4vmin;
 height: 10vmin;
 line-height: 10vmin;
 font-size: 4vmin;
 border: none;
 border-bottom: 1px dotted transparent;
 background-color: transparent;
 transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}

#navigation a:hover {
 background-color: rgba(0, 255, 255, 0.05);
}

#navigation a:hover,
#navigation a.current {
 border-color: rgb(200, 80, 200);
}

/**
 * 06. Page Structure
 * ________________________________
 * Titles and Divs with ARIA-Roles.
 */

div {
 padding: 0;
 margin: auto;
 border: none;
}

div[role="banner"] {
 position: relative;
 z-index: 0;
 top: 0;
 width: 100%;
 height: 100%;
 text-align: center;
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 transform-style: preserve-3d;
}

div[role="main"] {
 position: absolute;
 z-index: 1;
 top: 0;
 width: 100%;
 height: 100%;
}

div[role="complementary"] {
 position: fixed;
 z-index: 5;
 top: 0;
 left: 0;
 right: 0;
 text-align: right;
 background-color: rgba(0, 0, 0, 0.15);
}

div[role="contentinfo"] {
 position: fixed;
 z-index: 4;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 0 2vw;
 text-align: center;
 font-size: 2vmin;
 color: rgb(30, 150, 150);
 text-shadow: 0 0 18px rgb(12, 12, 12);
 height: 5vmin;
 line-height: 5vmin;
 background-color: rgba(0, 0, 0, 0.15);
}

div[role="contentinfo"] h1,
div[role="contentinfo"] h2 {
 position: absolute;
 top: 0;
 font-size: 3vmin;
}

div[role="contentinfo"] h2 {
 text-align: right;
 right: 8vmin;
}

#title {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
 text-align: center;
 white-space: nowrap;
 opacity: 1.0;
 transition: opacity 0.5s;
}

#title h1 {
 padding: 0;
 font-size: 10vmin;
 text-align: center;
 color: rgb(220, 60, 20);
 text-shadow: 0 0 18px rgb(12, 12, 12);
}

#title h2 {
 padding: 0;
 font-family: inherit;
 font-size: 3vmin;
 text-align: center;
}

#smallTitle {
 opacity: 1.0;
 transition: opacity 0.5s;
}

#contents {
 position: absolute;
 z-index: 3;
 top: 10vmin;
 bottom: 5vmin;
 left: 0;
 right: 0;
 padding: 2vmin;
 overflow-x: hidden;
 overflow-y: auto;
 text-align: left;
 border-top: 1px solid rgb(100, 30, 100);
 border-bottom: 1px solid rgb(30, 100, 100);
}

#about {
 border: 2px solid rgb(100, 100, 100);
 border-width: 2px 4px 5px 2px;
 border-radius: 12px;
 margin: 15vh 10vw;
 padding: 5vmin;
}

#me {
 position: absolute;
 top: 8vh;
 right: 15vw;
 border: 2px solid rgb(100, 100, 100);
 border-radius: 80px;
 width: 23vmin;
 height: 23vmin;
 max-width: 150px;
 max-height: 150px;
}

.flash {
 position: absolute;
 z-index: 10;
 top: 50%;
 left: 50%;
 min-width: 10vw;
 max-width: 50vw;
 min-height: 11vh;
 padding: 2vmin;
 transform: translate(-50%, -50%);
 border-radius: 8px;
 background-color: rgba(12, 12, 12, 0.85);
}

.flash a {
 position: absolute;
 bottom: 1vmin;
 left: 0;
 right: 0;
 text-align: center;
 display: block;
}

/**
 * 07. Forms and Input
 */

form {
 text-align: center;
 margin: auto;
}

label {
 vertical-align: middle;
}

.browse,
select, input, textarea {
 font-family: inherit;
 font-size: inherit;
 padding: 0 1vmin;
 color: rgb(220, 60, 20);
 outline: none;
 vertical-align: middle;
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid rgb(12, 12, 12);
 border-radius: 8px;
}

.browse,
input[type="submit"],
input[type="button"] {
 outline: none;
 transition: background-color 0.5s;
}

.browse:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
 background-color: rgba(100, 0, 0, 0.25);
}

input[type="submit"] {
 margin: 2vmin auto;
}

input[type="file"] {
}

input[type="submit"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
 cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
 border-radius: 4px;
 -webkit-appearance: button;
 border: 1px solid rgb(12, 12, 12);
 background-color: rgba(0, 0, 0, 0.25);
 white-space: nowrap;
 overflow: hidden;
 width: 3vmin;
 height: 3vmin;
 transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
}

input[type="radio"] {
 border-radius: 15px;
}

input[type="checkbox"]:checked {
 background-color: rgba(60, 60, 60, 0.6);
 border-color: rgb(45, 45, 45);
 box-shadow: 0px 0px 12px rgb(225, 200, 160);
}

::-webkit-input-placeholder {
 color: rgb(100, 80, 100);
}

:-moz-placeholder {
 color: rgb(100, 80, 100);
}

::-moz-placeholder {
 color: rgb(100, 80, 100);
}

:-ms-input-placeholder {
 color: rgb(100, 80, 100);
}

#el, #psy, #congroo {
 display: none;
}

/**
 * 08. Special Forms
 */

#animeForm {
 margin-top: 16vh;
}

#login,
#signup {
 margin-top: 25vh;
}

p.loginSignup {
 position: absolute;
 bottom: 1vmin;
 left: 4vw;
 right: 4vw;
 text-align: center;
}

.label-box {
 display: inline-block;
 text-align: left;
 vertical-align: middle;
}

.label-box label {
 display: block;
 padding-right: 1vw;
 margin: 1vh 0;
 border: 1px solid transparent;
}

.input-box {
 display: inline-block;
 text-align: left;
 vertical-align: middle;
}

.browse,
.input-box input {
 display: block;
 margin: 1vh 0;
}

.input-box label {
 display: inline-block;
 overflow: hidden;
 text-overflow: ellipsis;
}

#selectedFile {
 margin-left: 1vmin;
}

.input-box input.hidden {
 position: absolute;
 width: 0;
 height: 0;
 margin-top: -1vmin;
 margin-left: 21vmin;
 opacity: 0.0;
}

.remember {
 padding-right: 1vw;
}

.browse {
 margin: 0.5vh 0;
 cursor: pointer;
 text-align: center;
}

/**
 * 09. Anime Gallery
 */

#animes {
 position: absolute;
 z-index: 7;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 1vmin;
 margin: 0;
 text-align: center;
 text-transform: capitalize;
}

.moveable {
 cursor: grab;
 cursor: -moz-grab;
 cursor: -webkit-grab;
}

.moveable:active {
 cursor: grabbing;
 cursor: -moz-grabbing;
 cursor: -webkit-grabbing;
}

#animes li {
 position: relative;
 display: inline-block;
 width: 20vw;
 height: 40vh;
 overflow: hidden;
 background-color: transparent;
 vertical-align: top;
 text-align: left;
 margin: 3vmin;
 cursor: auto;
}

#animes li img {
 width: 100%;
 height: 100%;
}

#animes li h1 {
 position: absolute;
 z-index: 7;
 bottom: -1px;
 left: 0;
 right: 0;
 background-color: rgb(20, 100, 100);
 color: rgb(240, 240, 240);
 font-size: 3vmin;
 padding: 1vmin;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

#animes li:hover .infos {
 top: 0;
}

.infos {
 position: absolute;
 z-index: 6;
 top: 100%;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 1vmin;
 background-color: rgba(20, 80, 80, 0.95);
 transition: top 0.25s;
 white-space: nowrap;
}

.infos div {
 overflow: hidden;
 text-overflow: ellipsis;
}

.infos label {
 font-size: 2.3vmin;
 vertical-align: middle;
 color: rgb(160, 160, 160);
 padding-right: 1vmin;
}

.infos span {
 font-size: 2.8vmin;
 color: rgb(220, 220, 220);
}

.infos a {
 position: absolute;
 top: 80%;
 right: 1vmin;
 color: rgb(0, 0, 0);
 font-size: 2vmin;
}

.infos a:hover {
 color: rgb(255, 0, 0);
}
