#about
 h1 About
 img(src="/img/me.jpg" alt="me")#me
 p. 
  I'm a student at the University of Applied Sciences in Brandenburg, Germany, where
  I'm studying Computer Science. This web application was part of a graded assignment 
  in a course called System Integration. The project focused on Amazon Web Services, 
  REST-APIs, software testing, best practices and, of course, system integration in general.
