#about
 h1 About
 img(src="/img/me.jpg" alt="me" title="Move your mouse, please. I can't see.")#me
 p. 
  This page was part of a graded assignment at the 
  University of Applied Sciences in Brandenburg, Germany. The project focused on 
  Amazon Web Services, software testing, system integration and best practices.
