if(message.length)
 p(role="alert").flash #{message}
  a(href="/")#closeFlash Okay

form(action="/animes" method="post" enctype="multipart/form-data")#animeForm

 .label-box
  label(for="inputTitle") Title
  label(for="inputPublisher") Publisher
  label(for="inputYear") Year
  label(for="inputSeasons") Seasons
  label(for="inputAuthor") Author
  label(for="inputImage") Picture

 .input-box
  input(type="text" name="title" required="required" aria-required="true")#inputTitle
  input(type="text" name="publisher")#inputPublisher
  input(type="text" name="year")#inputYear
  input(type="text" name="seasons")#inputSeasons
  input(type="text" name="author")#inputAuthor
  label(for="inputImage").browse Browse
  label(for="inputImage")#selectedFile No file chosen
  input(type="file" name="image" required="required" aria-required="true")#inputImage.hidden

 div
  input(type="submit" value="Add to List")
